<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Young+Serif&display=swap"
    rel="stylesheet">

<div class="video-container">
    <video autoplay loop muted>
        <source src="assets/v1.mp4" type="video/mp4">
    </video>

    <nav class="nav" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <div class="nav-left">
            <h1><a routerLink="/home">Hackoon</a></h1>
            <h3><a routerLink="/home">Home</a></h3>
            <h3><a routerLink="/hack">Hack</a></h3>
            <h3><a routerLink="/about">contact</a></h3>
            <h3><a routerLink="/service">Services</a></h3>
        </div>
        <div class="nav-right">
            <h3><a routerLink="/register">Signup</a></h3>
            <h3 style="background-color: #004182;"><a routerLink="/login">Login</a></h3>
        </div>
    </nav>

    <div class="content">
        <div class="services">
            <h1 style="margin-left: 20px;">Our services</h1>
            <div class="service">
                <h2>Team Registration</h2>
                <p>Register your team easily and get ready for the hackathon!</p>
            </div>
            <div class="service">
                <h2>Mentor Support</h2>
                <p>Receive guidance and mentorship to enhance your project ideas.</p>
            </div>
            <div class="service">
                <h2>Idea Voting</h2>
                <p>Vote for the best ideas and shape the future of innovative projects.</p>
            </div>
            <div class="service">
                <h2>Checkpoints Organization</h2>
                <p>Organize and track project checkpoints efficiently throughout the hackathon.</p>
            </div>
            <div class="service">
                <h2>Team Chat</h2>
                <p>Collaborate and communicate within your team through a dedicated chat application.</p>
            </div>
            <div class="service">
                <h2>Announcements</h2>
                <p>Stay updated with the latest announcements and important information.</p>
            </div>
            <div class="service">
                <h2>Global Chat</h2>
                <p>Connect and engage with participants globally through a centralized chat platform.</p>
            </div>
            <div class="service">
                <h2>Jury Review</h2>
                <p>Get your project ideas reviewed by experienced jurors for valuable feedback.</p>
            </div>
        </div>
    </div>
</div>