.video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 2;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    align-content: space-between;
    background-color: transparent;
}

.nav-left {
    width: 30%;
    padding-inline: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.nav a {
    text-decoration: none;
    color: inherit;
    border: none;
}

.nav h3 {
    padding: 10px;
    border-radius: 10px;
}

.nav h3:hover {
    background-color: #004182;
    color: aliceblue;
}

.nav-right {
    width: 10%;
    padding-inline: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.content {
    position: absolute;
    height: 70%;
    width: 100%;
    z-index: 3;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.main-container {
    height: 150%;
    width: 50%;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #25e71b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

/* ************************************************************************ */

.form-container {
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
}

.title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}

.input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

.page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
}

.page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
}

.page-link-label:hover {
    color: #000;
}

.form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
    box-shadow: none;
}

.sign-up-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ****************************************************************************** */

.character-holder {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.mentor-holder {
    height: 45%;
    width: 80%;
    background-color: aliceblue;
}

.team-holder {
    height: 40%;
    width: 80%;
    background-color: aliceblue;
}

.bot {
    background: aliceblue;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
}

.bot:hover {
    background-color: aliceblue;
    box-shadow: 5px 5px 10px teal;
}

.active-bot {
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px 10px teal;
}